Host jupyterhub-6515fb85
    HostName localhost
    User jupyterhub
    IdentityFile /home/kreuzer/work/software/Jupyter/Jupyter-JSC/images/tunneling-tdd/tests/k8s_test_setup/6515fb85/keypairs/devel
    Port 2222
    LogLevel ERROR
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no

Host tunnel-6515fb85
    HostName localhost
    User tunnel
    IdentityFile /home/kreuzer/work/software/Jupyter/Jupyter-JSC/images/tunneling-tdd/tests/k8s_test_setup/6515fb85/keypairs/devel
    Port 2223
    LogLevel ERROR
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no

Host backend-6515fb85
    HostName localhost
    User backend
    IdentityFile /home/kreuzer/work/software/Jupyter/Jupyter-JSC/images/tunneling-tdd/tests/k8s_test_setup/6515fb85/keypairs/devel
    Port 2224
    LogLevel ERROR
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no
